@font-face {
  font-family: "aterron";
  src: url("../../assets/Atteron.ttf");
}

@font-face {
  font-family: "henderson";
  src: url("../../assets/henderson.otf");
}

/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
} */

.Logo {
  display: flex;
  align-items: center; 
}

.Logo img {

  width: 50px; 
  height: 50px;
}

.Sanus {
  font-family: aterron;
  color: grey;
  font-size: x-large;
  margin: 0;
  padding-top: 10px;
  padding-left: 10px;
}
.PuertoRico {
  font-family: henderson;
  font-size: smaller;
  margin: 0;
  padding-left: 10px;
}
Nav a {
  font-family: henderson;
}
