.userCard {
    display: flex;
    justify-content: center;
    padding: 10 px;
  }

.cardContainer {
  position: relative;
  overflow: hidden;
}

.image {
  width: 150px;
  height: 150px;
  display: block;
  border-radius: 50%;
}

.cardText1 {
  position: absolute;
  width: 100%;
  height: fit-content;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  font-size: 20px;
  text-align: center;
  margin: 0;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 15px;
}

.cardContainer:hover .cardText1{
  opacity: 1;
}

.gridContainer2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}